<!-- <p>Load Up a Excel File</p>

<input type="file" (change)="onFileChange($event)" multiple="false" />

<p>Export to CSV</p>


	<button type="button" id="exportApplications">Export Applications</button>
    
    <button type="button" id="exportDataObjects">Export Data Objects</button> -->
    <div class="upload-wrapper">
        <label>Import Excel</label>
        <input type="file" name="my-upload-field" (change)="onFileChange($event)" multiple="false" /></div>
    
    <!-- <button  type="button" (click)="showCreateDataObject()">Create Data Object</button> -->