<div class="topnav">
  <button disabled class="emptyButton" (click)="downloadFile()" ></button>
  <button  type="button" (click)="downloadFile()">Getting Started</button>
  <button  type="button" (click)="customizeDataObject()">Customize Data Object</button>
  <button  type="button" (click)="showCreateDataObject()">Create Data Object</button>
  <button  type="button" (click)="createApplication(); setalertcreate()">Create Application</button>
  
  <app-excelsheet [model]='model'></app-excelsheet>
  <div class="dropdown">
    <button class="dropbtn">Export
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <button  type="button" (click)="exportApplications()">Export Applications as CSV</button>
      <br>
  <button  type="button" (click)="exportDataObjects()">Export Data Objects as CSV</button>
    </div>
  </div>
  <button  type="button" (click)="downloadXLS()">Download Excel Template</button>
 
</div>

<br>
<form [formGroup]="editForm" [ngStyle]="{'display': AppSehen}" *ngIf="selectedNode" (ngSubmit)="onCommitForm()">
  <div class="group">
    <label class="group">Key</label>
    <small *ngIf="editForm.get('key').touched && editForm.get('key').hasError('required')">Enter Key</small>
    <br>
    <input id="key" name="key" [(ngModel)]="data.key" formControlName="key">
  </div>
  <div class="group">
    <label for="name">Name</label>
    <small *ngIf="editForm.get('name').touched && editForm.get('name').hasError('required')">Enter Name</small>
    <br />
    <input name="name" [(ngModel)]="data.name" formControlName="name" />
  </div>
  <br>
  <div class="group">
    <label for="version">Version</label> <br />
    <input name="version" [(ngModel)]="data.version" formControlName="version" />
  </div>
  <div class="group">
    <label for="cots">COTS</label>
    <select name="cots" [(ngModel)]="data.cots" formControlName="cots">
      <option>COTS</option>
      <option>Propietary</option>
      <option>Unknown</option>
    </select>
  </div>
  <br>
  <div class="group">
    <label for="releaseDate">Release Date</label>
    <small *ngIf="editForm.get('releaseDate').touched && editForm.get('releaseDate').hasError('required')">Enter
      Date</small>
    <br>
    <input name="releaseDate" [(ngModel)]="data.releaseDate" formControlName="releaseDate" />
  </div>
  <div class="group">
    <label for="shutdownDate">Shutdown Date</label>
    <small *ngIf="editForm.get('shutdownDate').touched && editForm.get('shutdownDate').hasError('required')">Enter
      Date</small>
    <br />
    <input name="shutdownDate" [(ngModel)]="data.shutdownDate" formControlName="shutdownDate" />
  </div>
  <br>
  <div class="group">
    <label for="desc">Description</label>
    <small *ngIf="editForm.get('desc').touched && editForm.get('desc').hasError('required')">Enter Description</small>
    <br />
    <textarea name="desc" rows="4" cols="50" [(ngModel)]="data.desc" formControlName="desc"></textarea>
  </div>

  <div class="buttonPosition">
    <button class="updateApp" type="submit" (click)="onCommitForm(); updateApplication(data.key)" [disabled]="!editForm.valid">Update
      Application</button>
    <button class="cancelButton" type="button" (click)="closeWindows()">Close</button>
    <button class="cancelButton" type="button" (click)="deleteApplication(data.key, data.name); setalertappdelete()">Delete</button>
    <button class="cancelButton" type="button" (click)="cancelChanges()">Reset</button>
  </div>
</form>

<!-- DataObject aussuchen -->
<form [formGroup]="editData" [ngStyle]="{'display': DataObjectSehen}" *ngIf="selectedLink" (ngSubmit)="onCommitForm2()">
  <div class="buttonPosition">
    <button type="button" [ngStyle]="{'display': ChooseDataObject}" (click)="myFunction()">Choose another Data
      Object</button>
  </div>
  <div [ngStyle]="{'display': DataObjectListe}" class="buttonPosition">
    <label for="selectDO">Select another Data Object</label>
    <br>
    <select id="mySelect" #device (change)="onChange($event, device.value)" size="1"></select>
  </div>
  <div class="group">
    <label for="dataobject">Data Object</label><br />
    <input name="dataobject" [(ngModel)]="LinkData.dataobject" formControlName="dataobject" readonly>
  </div>
  <div class="group">
    <label for="personaldata">Personal Data</label><br />
    <input class="inputPersonalData" name="personaldata" checked [(ngModel)]="LinkData.personalData"
      formControlName="personalData" readonly>
  </div>
  <br>
  <div class="group">
    <label for="description">Description</label> <br />
    <textarea name="description" rows="4" cols="50" [(ngModel)]="LinkData.description" formControlName="description"
      readonly></textarea>
  </div>
  <div class="buttonPosition">

    <button class="commitButton" type="submit">Select Data Object</button>
    <button class="cancelButton" type="button" (click)="removeLinkConnection()">Remove</button>
    <button class="cancelButton" type="button" (click)="closeWindows()">Close</button>
    <!-- <button class="cancelButton" type="submit" (click)="cancelChangesData()">Cancel</button>  -->
  </div>
</form>
<!-- DataObject aussuchen -->
<!-- DataObject bearbeiten -->
<form [formGroup]="editData" [ngStyle]="{'display': DataObjectCustomize}">
  <div class="buttonPosition">
    <label for="selectDO">Select Object</label><br />
    <select id="mySelect2" #device (change)="onChange($event, device.value)" size="1"></select>
  </div>
  <div class="group">
    <label for="dataobject">Selected Data Object</label><br />
    <input name="dataobject" [(ngModel)]="LinkData.dataobject" formControlName="dataobject" readonly>
  </div>
  <div class="group">
    <label for="personaldata">Personal Data</label><br />
    <div style="text-align: center;">
      <input type="checkbox" name="personaldata" checked [(ngModel)]="LinkData.personalData"
        formControlName="personalData">
    </div>
  </div>
  <br>
  <div class="group">
    <label for="description">Description</label> <br />
    <textarea name="description" rows="4" cols="50" [(ngModel)]="LinkData.description"
      formControlName="description"></textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="changeDataObject(); setalertdataobjectchange()">Update Data Object</button>
    <button class="cancelButton" type="button" (click)="closeWindows()">Close</button>
    <!-- <button class="cancelButton" type="submit" (click)="cancelChangesData()">Cancel</button>  -->
    <button class="cancelButton" type="submit" (click)="removeDataObject(); setalertdataobjectdelete()">Delete</button>
  </div>
</form>
<!-- DataObject bearbeiten -->

<!-- DataObject erstellen -->
<form [formGroup]="editData" [ngStyle]="{'display': DataObjectCreate}" (ngSubmit)="createDataObject(); setalertcreatedata()">
  <div class="group">
    <label for="dataobject">Name of Data Object</label><br />

    <input type="text" name="dataobject" placeholder="Enter Name" [(ngModel)]="LinkData.dataobject"
      formControlName="dataobject" required />
    <small *ngIf="editData.get('dataobject').touched && editData.get('dataobject').hasError('required')">Enter
      Name</small>
  </div>

  <div class="group">
    <label for="personaldata">Personal Data</label><br />
    <div style="text-align: center;">
      <input type="checkbox" name="personaldata" checked [(ngModel)]="LinkData.personalData"
        formControlName="personalData">
    </div>
  </div>
  <!-- <div class="group">
  <label for="selectDO">Copy Object</label><br />
  <select id="mySelect3" #device (change)="onChange($event, device.value)" size="1">
    
  </select>
</div> -->
  <br>
  <div class="group">
    <label for="description">Description</label> <br />
    <textarea name="description" rows="4" cols="50" [(ngModel)]="LinkData.description"
      formControlName="description"></textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="submit" [disabled]="!editData.valid">Create Data Object</button>
    <button class="cancelButton" type="button" (click)="closeWindows()">Close</button>
    <!-- <button class="cancelButton" type="submit" (click)="cancelChangesData()">Cancel</button>  -->
  </div>
</form>
<!-- DataObject erstellen -->

<!-- ALERTS FOR DIFFRENT EVENTS -->
<form [ngStyle]="{'display': AlertSehen}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50" >Update not possible there is already an existing Object with that Key! </textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalert()">Close</button>
      </div>
</form>
<form [ngStyle]="{'display': AlertSehenDate1}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50">Release Date can´t be later than Shutdown Date! </textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalert()">Close</button>
      </div>
</form>
<form [ngStyle]="{'display': AlertSehenDate2}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50">Shutdown Date can´t be earlier than Release Date! </textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalert()">Close</button>
      </div>
</form>
<form [ngStyle]="{'display': AlertSehenCreate}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50">Application created successfully & saved in database</textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalertcreate()">Close</button>
      </div>
</form>
<form [ngStyle]="{'display': AlertSehenAppDelete}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50">Application Deleted!</textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalertappdelete()">Close</button>
      </div>
</form>
<form [ngStyle]="{'display': AlertSehenDataChange}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50">Data Object properties updated!</textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalertdataobjectchange()">Close</button>
      </div>
</form>
<form [ngStyle]="{'display': AlertSehenCreateData}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50">Data Object Created!</textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalertcreatedata()">Close</button>
      </div>
</form>
<form [ngStyle]="{'display': AlertSehenAppUpdated}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50">Application Updated!</textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalertappupdated()">Close</button>
      </div>
</form>
<form [ngStyle]="{'display': AlertSehenDataDelete}">
  <div class="group">
    <label for="alert">Message</label> <br />
    <textarea name="description" rows="4" cols="50">Data Object Deleted!</textarea>
  </div>
  <div class="buttonPosition">
    <button class="commitButton" type="button" (click)="resetalertdataobjectdelete()">Close</button>
      </div>
</form>
<!-- ALERTS FOR DIFFRENT EVENTS -->
