* {
  /* display: inline-flex; */ 
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 3px;
  
}

select{
  /* overflow: hidden; */
}
small {
  font-size: 10px;
  font-style: normal;
  color: red;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

form {
  width: fit-content;
  background: lightgray;
   border: 1px solid black;
   border-radius: 30px;
 margin: auto;
 
}

input {
 
  background: white;
}

input:focus {

  outline: none;
}

.commitButton {
  height:25px;/* height:40px; */
    /*width: 50%;*/
    width: 50%;
}

.cancelButton {
  height:25px;/* height:40px; */
    /*width:80px;*/
    width: 17%;
}
.buttonPosition {
  text-align: center;
}
.labelKey{
  display: block;
  text-align: center;
  line-height: 70%;
}
.group{
  display: inline-block;
  }
  .inputDesc{
    width: 90%; max-width: 100%;
    
    font-size:10pt;
    }

    .inputPersonalData{
      width: 20%; max-width: 100%;
      
      font-size:10pt;
      }


    .topnav {
      overflow: hidden;
      background-color: #333;
     width: 79%;
     margin: auto;
    }
    
    .topnav button {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 8px 10px;
      text-decoration: none;
      font-size: 14px;
      background-color: #333;
      border: none;
      cursor: pointer;
    }
    
    .topnav button:hover {
      background-color: #ddd;
  color: black;
    }
    
    .topnav button.active {
      background-color: #04AA6D;
  color: white;
    }

    .NavButtons {   
      background-color: Transparent;
      border: none;             /* Your can add different style/properties of button Here*/
      cursor:pointer;    
      color: #f2f2f2;
      }